/* Reset CSS */
body {
  line-height: 1;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

/* Login.php & Register.php */

.formConnexion * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.bodyLogin .login {
  background: hsl(250, 50%, 91%);
}

.formConnexion {
  height: 560px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.formConnexion h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 45px;
  text-align: center;
}

.labelConnexion {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

#labelPass {
  margin-top: 10px;
}

.divIdPass {
  margin-top: 5px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.07);
}

.idPass {
  margin: 10px auto 10px 15px;
  width: 90%;
  background-color: #37363e;
}

#submit {
  height: 50px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
}

.bodyConnexion {
  background-color: #080710;
}

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.buttonConnexion {
  margin-top: 100px;
  margin-right: auto;
  margin-left: 20px;
}

.buttonLogin {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.buttonLogin:hover {
  background-color: #3b3b3d;
  color: white;
}

.buttonRole {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#donateurRole {
  padding-right: 20px;
}

#organisateurRole {
}

.role {
  -webkit-appearance: none;
  position: relative;
  top: 13px;
  height: 40px;
  width: 40px;
  background: #37373d;
  margin-right: 0.5rem;
}

.role:hover {
  background: #37373d;
}

.role:checked {
  background: #37373d;
}

.role:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  font-size: 26px;
  text-align: center;
  line-height: 40px;
}

.role:checked::after {
  background: black;
  content: '';
  display: block;
}

/* index.php */
.bodyIndex {
  height: 100%;
  width: 100%;
  border-top: 1px solid lightgray;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 0;
  height: 100%;
  width: 100%;
}

.wrapper {
  order: 1;
  width: 25%;
  height: 100%;
  position: fixed;
  border-right: 1px solid lightgray;
}

.feed {
  order: 2;
  width: 50%;
  height: 100%;
  margin-left: 25%;
}

.user {
  order: 3;
  width: 25%;
  height: 100%;
  position: fixed;
  right: 0;
  border-left: 1px solid lightgray;
}

.sidebar-container {
  width: 220px;
  height: 100%;
  left: 0;
  color: #fff;
  margin-left: 70px;
}

.sidebar-navigation {
  padding: 0;
  margin-top: 100px;
  list-style-type: none;
}

.sidebar-navigation li {
  display: inline-block;
  width: 100%;
  line-height: 10px;
}

.sidebar-navigation li a {
  padding: 20px 30px 20px 30px;
  display: block;
  color: #282923;
  margin-bottom: 10px;
  border-radius: 25px;
}

.sidebar-navigation li a:hover {
  background-color: #37363e;
  color: white;
}

.loginProfil {
  background-color: #28272F;
  border-radius: 25px;
  color: white;
}

.article {
  height: 300px;
  width: 602px;
  margin-left: 0px;
  border-bottom: 1px solid lightgray;
  padding: 50px 35px;
  color: black;
}
