.formLogin *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.bodyLogin .login{
    background: hsl(250, 50%, 91%);
}

.formLogin{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.formLogin h1{
    font-size: 40px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
}

.labelLogin {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
#submit {
    height: 50px;
    width: 90%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.bodyLogin {
    background-color: #080710;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.buttonLogin {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

/* acceuil.html */

body {
    line-height: 1;
  }
  
  html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  h1,
  body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  a {
    text-decoration: none;
  }
  
  header {
    text-align: center;
    background-color: #80c8c8;
    padding: 60px;
    width: 100%;
    border-bottom: 2px solid black;
  }
  
  .navbar {
    grid-area: sidebar;
    height: 100%;
  }
  
  .feed {
    grid-area: content;
    position: relative;
    width: 100%;
  }
  
  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 200px 1340px;
    grid-template-areas: "sidebar content content";
  }
  
  .sidebar-container {
    position: fixe;
    width: 220px;
    height: 100%;
    left: 0;
    background: lightgray;
    color: #fff;
  }
  
  .sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: fixe;
    border-right: 2px solid black;
  }
  
  .sidebar-navigation li {
    position: fixe;
    display: inline-block;
    width: 100%;
    line-height: 10px;
  }
  
  .sidebar-navigation li a {
    padding: 40px 30px 40px 30px;
    display: block;
    color: #282923;
  }
  
  .feed {
  }
  
  #LoginPage {
  }
  
  .article {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.1);
    padding: 50px 35px;
  }
  