
body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #eef1f3;
  font-family: AppleSystemUIFont, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
.pannel{
  margin-left: 20%;
  margin-right: 5%;
}
.container{
  background-color: white;
  margin-top: 5%;
  border-radius: 1%;
  padding-left: 2%;
  padding-top: 2px;
  padding-right: 2%;
  padding-bottom: 2%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  height: auto;
}
.container h3{
  font-size: 32px;
  color: #495057;
  border-bottom: 1px solid darkgrey;
  text-transform: capitalize;
}
td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
table{
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
 tr:nth-child(even){
   background-color: #DEE2E6;
 }

 tr:hover {
   background-color: #ddd;}

 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ADB5BD;
  color: white;
}
.button {
  background-color: #3f6ad8; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 16px;
  border-radius: 3%;
  margin-left: 5px;
}

.row-3 {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 950px) {
  .row-3{
    flex-direction: column;
  }
  .row-3 .stat{
    padding-left: 35%;
    margin-top: 5%;
  }
}
.stat{
  display: flex;
}
.stat .info{
  margin-left: 10px;
  margin-top: -30px;
  line-height: 2px;
}
.info .content{
  font-size: 40px;
  font-weight: bold;

}
.stat .icon{
  width: 60px;
  height: 60px;
  background-color: rgb(247, 185, 36);
  border-radius: 50% !important;
}

.stat:first-child .icon{
  background-color: rgb(217, 37, 80);
}
.stat:last-child .icon{
  background-color: rgb(58, 196, 125);
}
.icon svg{
  width: 30px;
  height: 30px;
  top:50%;
  left: 50%;
  margin: 15px 0px 0px 15px;
}
.eventcontainer{
  display: flex;
  flex-direction: row;
  width: 100%;
}
navbar{
  width: 400px;
}
.feed{
  width: 100%;
  margin-right: 5%;
}
.right{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.warning{
  background-color: #ffc107!important;
}
.danger{
  background-color: #dc3545!important;
}
.sucess{
  background-color: #28a745!important;
}
.secondary{
  background-color: #6c757d!important;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal-title{
  font-size: 30px;
  font-weight: bold;
  color: #022A57;
}
.modal-header{
  border-bottom: 1px solid #3b3b3d;
  padding-left: 10%;
  display: flex;
}
/* The Close Button */
.close {
  align-self: end;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal-body{
  display: flex;
  flex-direction: column;
}
.modal-body input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
}
.modal-footer{
  border-top: 1px solid #3b3b3d;
  padding-left: 10%;
  display: flex;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.auth{
  width: 500px;
  background-color: #dddddd;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.auth .title{
  font-weight: normal;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.auth form{
  display: flex;
  flex-direction: column;
}
.cyan {
  color: rgb(61,183,228);
}